.formulario {
  width: 85vw;
  margin: 0 auto;
  &__cuadro{
    @extend .formulario__campo;
    padding: $espacio * 1.5;
    gap: $espacio;
    border: 3px double $colorPrimario;
    border-radius: 0.3em;
  }
  &__campo {
    display: flex;
    flex-direction: column;
  }
  &__select {
    padding: $espacio / 15.8 0;
    border-radius: 0.3em;
  }
  &__campo--botones {
    gap: $espacio;
  }
  &__boton {
    padding: $espacio / 1.2;
    border: none;
    border-radius: 0.3em;
    background-color: $colorPrimarioClaro;
    color: #f1f8f2;
    transition: all 250ms;
    &:hover {
      padding: $espacio;
      background-color: $colorPrimario;
    }
  }
  @media only screen and (min-width: 768px) {
    width: 70vw;
    &__campo--botones {
      flex-direction: row;
    }
    &__boton {
      width: 50%;
    }
  }
  @media only screen and (min-width: 992px) {
    width: 55vw;
    &__campo--botones {
      justify-content: flex-end;
    }
    &__boton {
      width: 25%;
    }
  }
}
