form {
  width: 90vw;
  margin: 0 auto;
  .frame{
    @extend .frame__field;
    padding: $espacio * 1.5;
    gap: $espacio;
    border: 3px double $colorPrimario;
    border-radius: 0.3em;
    &__field {
      display: flex;
      flex-direction: column;
    }
    &__select {
      padding: $espacio / 15.8 0;
      border-radius: 0.3em;
    }
    &__field--buttons {
      gap: $espacio;
    }
  }
  @media only screen and (min-width: 768px) {
    width: 75vw;
    .frame__field--buttons {
      flex-direction: row;
      .button {
        width: 50%;
      }
    }
  }
  @media only screen and (min-width: 992px) {
    width: 60vw;
    .frame__field--buttons {
      justify-content: flex-end;
      .button {
        width: 25%;
      }
    }
  }
}