body {
  background: linear-gradient(180deg, rgba(241,248,242,1) 0%, rgba(222,228,223,1) 100%);
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: $espacio;
  overflow-y: scroll;
}
main {
  padding: $espacio;
}
@mixin fuente( $color, $tamanio, $nombre, $duracion ) {
  color: $color;
  font-size: $tamanio;
  animation-name: $nombre;
  animation-duration: $duracion;
}
h1 {
  @include fuente( $colorPrimario, 4rem, titulo, 800ms );
}
h2 {
  @include fuente( $colorSecundario, 3.4rem, subtitulo, 800ms );
}
h3 {
  @include fuente( $colorPrimario, 2.8rem, subtitulo2, 800ms );
}
p {
  font-size: 2.2rem;
  text-align: center;
}
h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
  margin: $espacio;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, p {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@keyframes titulo {
  from{
    margin-right: 100%;
  }
  to {
    margin-right: 0;
  }
}
@keyframes subtitulo {
  from {
    font-size: 3.7rem;
  }
  to {
    font-size: none;
  }
}
@keyframes subtitulo2 {
  from {
    color: $colorSecundarioClaro;
  }
  to {
    display: $colorPrimario;
  }
}