/* Inicio */
.inicio {
  &__parrafo {
    background-color: $colorSecundarioClaro;
    padding: $espacio / 2;
    border-radius: 0 1em;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    &--borde {
      border-radius: 1em 0;
    }
  }
  @media only screen and (min-width: 768px) {
    &__seccion {
    display: flex;
    align-items: center;
    gap: $espacio;
    }
    &__seccion--dos {
    flex-direction: row-reverse;
    }
    &__calesita,
    &__parrafo {
      flex-basis: 50%;
    }
  }
  @media only screen and (min-width: 992px) {
    display: flex;
    gap: $espacio;
    &__secciones {
      flex-basis: 50%;
    }
    &__seccion {
      flex-direction: column;
    }
  }
}

/* Galería */
.galeria {
  overflow: hidden;
  &__contenedor {
    display: grid;
    justify-content: center;
    gap: $espacio;
    }
  &__imagen{
    transition: all 500ms;
    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
  }
    &__cuerpo {
      background-color: $colorPrimarioClaro;
    }
  @media only screen and (min-width: 768px) {
    &__contenedor {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (min-width: 992px) {
    &__contenedor {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Videos */
@mixin medidas( $ancho, $alto) {
  width: $ancho;
  height: $alto;
}
.videos {
  display: grid;
  gap: $espacio / 2;
  &__seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorSecundarioClaro;
    border-radius: 1em;
  }
  &__video {
    @include medidas(426px, 240px);
  }
  @media only screen and (min-width: 768px ) {
    &__video {
      @include medidas(640px, 360px);
    }
  }
  @media only screen and (min-width: 992px ) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "video1 video2"
                                      "video3 video3";
    justify-items: center;
    &__seccion--tres {
      grid-area: video3;
      width: 50%;
    }
    &__video {
      @include medidas(475px, 270px);
    }
  }
}

/* Tabla */
.tabla {
  width: 95vw;
  background-color: $colorPrimarioClaro;
  margin: 0 auto;
  border: 3px solid;
  border-radius: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: $espacio;
  padding: $espacio;
  list-style-position: inside;
  justify-items: center;
  &__titulo {
    margin: 0;
    border: 3px solid;
    padding: $espacio / 2;
  }
}