.price {
  background-color: $colorPrimarioClaro;
  margin: 0 auto;
  text-align: center;
  border-radius: $espacio;
  font-size: 2.2rem;
  &__title {
    text-transform: uppercase;
    color: $colorSecundario;
  }
  @media only screen and (min-width: 768px) {
    width: 75vw;
  }
  @media only screen and (min-width: 992px) {
    width: 60vw;
  }
}